<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#### Exercise 2: Create markdown cell with title of the notebook
#Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

#Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). 

# Objectives 
- Common tools for Data Science 
- Popular languages for Data Science 
- Introduction to Python 
- Introduction to R 
- Introduction to Jupyter Notebooks

#### Exercise 4 - Create a markdown cell to list data science languages


Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. SQL 
4. Scala 
5. Java 
6. C++

#### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Numpy 
3. Matplotlib 
4. Seaborn 
5. Scikit-learn

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| My SQL | 
| Apache Cassandra|
| Hadoop |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression examples
#Add a line in this cell with H3 style heading with text like:

### Below are a few examples of evaluating arithmetic expressions in Python.
* 2 + 2 
* 5 / 2 
* 3(2 + 1)

In [1]:
# Exercise 8 - Create a code cell to multiply and add numbers

# In this code cell evaluate the expression: (3*4)+5. 

#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [2]:
# Exercise 9 - Create a code cell to convert minutes to hours

# In this code cell write an expression that converts 200 minutes into hours.
#Insert a comment line before the expression to explain the operation e.g.  

#This code will convert 200 minutes to hours by diving by 60.

minutes = 200 
hours = minutes / 60 
hours

3.3333333333333335

#### Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. 
Include your name as regular text below the word Author.

## Author 
Godfred Gobah